.intre-logo {
  float: left;
  left: 20px;
  position: absolute;
  top: 12px;

  img {
    height: 26px;
  }
}

.title {
  margin-right: 24px;

  p {
    font-style: italic;
    font-weight: bold;
    text-align: right;
  }
}
